.header {
  width: 100%; 
  background-color: rgb(255, 255, 255); 
  display:flex;
  justify-content: center;
  padding-bottom: 4rem;
  &__logo {
      height: 16.65rem;
      padding-top: 3.9rem;
    }
  }

    
  
 
    