.card_row__img {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    width: 14.7rem;
    height: 14.7rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    * {
      color: var(--chip-background);
    }
  }