@import "../../assets//sass/mixins";

.modal__title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 2.2rem;
    font-weight: 500;
    padding: 2rem 6rem;
    *:first-child {
        margin-right: 4rem;
        color: var(--chip-background);
    }
}

.modal__body {
    width: 100%;
    min-width: 40rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2rem 6rem;
}
    