@import "../../assets//sass/mixins";

.card {
    width: 100%;
    min-width: 900px;
    background-color: white;
    @include box-shadow(4px, 4px, 8px, rgba(0, 0, 0, 0.25));
    @include rounded();
    padding: 4rem;
    margin-bottom: 2.5rem;
    transition: all 350ms ease-in-out;
    cursor: pointer;
    &_row {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: nowrap;
      } 
}