@import "../../assets//sass/mixins";

.chip {
    flex-basis: auto;
    width: auto;
    padding: 0.5rem 2.5rem;
    font-size: 1.6rem;
    font-weight: 500;
    margin: 1rem 1rem 1rem 0;
    @include rounded();
    background-color: var(--chip-background);
}