@import "../../assets//sass/mixins";

.search_form {
    width: 100%;
    padding: 0 15rem;
    min-width: 90rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__field {
        width: 100%;
        font-size: 1.9rem;
        padding: 2rem 6rem;
        font-family: arial;
        border:solid 1px white;
        @include box-shadow(4px, 4px, 8px, rgba(0, 0, 0, 0.25));
        @include rounded();
        &__field::placeholder {
          font-size: 1.8rem;
          color: var(--font-color);
        }
      }
    &__button {
        flex-grow: 0;
        flex-shrink: 0;
        width: 11.8rem;
        margin-left: 2rem;
        color:white;
        padding: 2rem;
        border-radius: 4rem;
        font-size: 1.8rem;
        cursor: pointer;
        background-color: var(--highlight);
        border: solid 1px var(--highlight);
        transition: all 350ms ease-in-out;
        @include box-shadow(4px, 4px, 8px, rgba(0, 0, 0, 0.25));
        @include rounded();
        &:hover {
          background-color: white;
          border: solid 1px white;
          color:var(--highlight);
      }
    }
    > div {
      flex-grow: 1;
      flex-shrink: 1;
      position: relative;
    }
    > div > * + * {
      position: absolute;
      top:50%;
      right: 2rem;
      transform: translateY(-50%);
      * {
        color: var(--highlight);
      }
    }
}