@import "../../assets//sass/mixins";

.message {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--highlight);
    &__container {
        width: 100%;
        padding: 0 15rem;
        min-width: 90rem;
        padding: 2rem 15rem;
        margin: 1rem 0;
    } 
    &__title {
        p {
            color:white;
            font-size: 3.5rem;
            font-weight: 500;
            margin: 1rem 0;
        }
    }
    &__text {
        color:white;
        font-size: 2.2rem;
        font-weight: 500;
        max-width: 60%;
        margin: 3.5rem 0;
    }
    &__button {
        font-size: 1.8rem;
        background-color: white;
        border: solid 1px white;
        color:var(--highlight);
        @include box-shadow(4px, 4px, 8px, rgba(0, 0, 0, 0.25));
        @include rounded();
        padding: 1rem 2rem;
        margin: 1.5rem 0;
    } 
}