// colors
:root {
    --background-color: rgba(243, 243, 243, 1);
    --header-color: rgba(255, 255, 255, 1);
    --font-color: rgba(86, 91, 116, 1);
    --highlight: rgba(75, 224, 208, 1);
    --chip-background: rgba(236, 236, 236, 1);
  }
  